@import "tailwindcss";

@font-face {
  font-family: "Apple Chancery";
  src: url("./fonts/AppleChancery.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gh-green: #05301b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: "Apple Chancery", cursive;
  --font-playfair: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-title {
  font-family: var(--font-title);
}

.font-georgia {
  font-family: Georgia, serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}
